* {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    background: grey;
    margin: 90px;
}

.icon {
    width: 100px;
    height: 100px;
    margin-top: 60px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.hidden {
    display: none;


}

img {
    width: 300px;
    height: 400px;
    margin: auto;
    align-items: center;
    border-radius: 3px;
}

ul {
    border-radius: 5px;
    border: 2px black solid;
    width: 300px;
    height: 400px;
    list-style: none;
    align-items: center;
    margin: auto;
    background: whitesmoke;
}



